.feature-box {
    text-align: center;
    background-color: rgba($color-white, 0.8);
    border-radius: .3rem;
    padding: 2.5rem;
    font-size: 1.5rem;
    color: $color-grey-dark;
    transition: transform .3s;

    &:hover {
        transform: translateY(-1.5rem) scale(1.03)
    }

    &__icon {
        font-size: 6rem;
        @include gradient;
        color: transparent;
        margin-bottom: .5rem;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }
}